*.py[cod]

# C Extensions
.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim temp files
.*.sw?

# Twisted stuff
dropin.cache
twistd.log
twistd.pid
trigger-xmlrpc.log

# Mac OS X index files
.DS_Store

# Docutils (docs) build dir
_build

# Gerrit
.gitreview

# PyCharm
.idea

# 3rd party
vendor/*
.python-version
uv.lock
